{% extends 'base.html' %}

{% block keywords %}услуги, консультация, детский, психолог, занятия, логопед, крылья{% endblock %}
{% block description %} {% for item in object_list %}{{item.name}}, {% endfor %}{% endblock %}
{% block title %} Цены на услуги {% endblock %}


{% block content %}
<section class="content">
<div class="">
    <h3>Услуги</h3>

    <table class="table table-striped">
        <tr>
            <th>п/н</th>
            <th>Название услуги</th>
            <th>Стоимость, руб.</th>
        </tr>

        {% for item in object_list %}


        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>


        </tr>
        {% endfor %}
    </table>
</div>
    </section>
{% endblock %}